<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style></style>
	</head>
	<body>
		<div style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #475467; max-width: 600px; margin: 20px auto; background-image: url('https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/header_background.png'); border: 1px solid #e0e0e0; border-radius: 20px; padding: 0 2px 1rem 2px;" cellpadding="0" cellspacing="0" width="600">
			<div style="color: #ffffff; text-align: right; padding: 24px 36px;">
				<img style=" height: 58px; width: 150px; vertical-align: middle; margin-right: 10px;" src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/new_Mosip_logo.png" alt="Logo" />
			</div>
			<div style="padding: 20px 36px; line-height: 1.5; background-color: #ffffff;">
				<div style="font-size: 14px;">
					<p><strong>عزيزي ${partnerId},</strong></p>
					<p>نود إعلامكم بأن شهادة Root CA التي تحمل معرف الشهادة ${certificateId} من المقرر أن تنتهي صلاحيتها في ${expiryDateTime} بتوقيت UTC. لضمان استمرارية الخدمات، نرجو منكم رفع الشهادة للتجديد قبل تاريخ الانتهاء.</p>
					<div style="padding: 10px 20px; background-color: #FAFBFC; border-radius: 10px;">
						<p style="font-size: 16px; font-weight: bold;">تفاصيل الشهادة</p>
						<hr style="border-top: 1px solid #E5E5E5;"/>
						<p style="padding: 5px 0px; font-weight: 600;">معرف الشهادة<br><span style="font-weight: 400;">${certificateId}</span></P>
						<p style="padding: 5px 0px; font-weight: 600;">تاريخ ووقت انتهاء الصلاحية<br><span style="font-weight: 400;">${expiryDateTime} UTC</span></P>
						<p style="padding: 5px 0px; font-weight: 600;">مجال الشريك<br><span style="font-weight: 400;">${partnerDomain}</span></P>
						<p style="padding: 5px 0px; font-weight: 600;">صدر إلى<br><span style="font-weight: 400;">${issuedTo}</span></P>
						<p style="padding: 5px 0px; font-weight: 600;">صادر عن<br><span style="font-weight: 400;">${issuedBy}</span></P>
						<p style="padding: 5px 0px; font-weight: 600;">الإجراء المطلوب<br><span style="font-weight: 400;">قم بتحميل الشهادة للتجديد في "مخزن شهادات الثقة".</span></P>
					</div>
					<p>قد يؤدي عدم تجديد الشهادة قبل انتهاء صلاحيتها إلى انقطاع الخدمة.</p>
					<p>للمتابعة بعملية التجديد، يرجى اتباع الخطوات التالية:</p>
					<ol>
						<li>قم بتسجيل الدخول إلى حسابك على بوابة PMS.</li>
						<li>انتقل إلى "مخزن ثقة الشهادات" في لوحة معلومات إدارة الشريك وحدد علامة التبويب "شهادة CA الجذرية".</li>
						<li>انقر فوق "تحميل شهادة الثقة" لتحميل الشهادة للتجديد واستكمال العملية.</li>
					</ol>
					<p>يرجى ملاحظة أن تاريخ انتهاء الصلاحية والوقت مقدمان بتنسيق UTC، لذا يرجى مراعاة أي اختلافات في المنطقة الزمنية عند التخطيط لتجديدك.</P>
					<p>شكرا لكم على اهتمامكم السريع بهذه المسألة.</p>
					<p>أطيب التحيات،<br>MOSIP</p>
					<p style="padding: 6px 0px;">** هذه رسالة بريد إلكتروني تم إنشاؤها تلقائيًا. يرجى عدم الرد على هذه الرسالة الإلكترونية. **</p>
					<p>موقع إلكتروني: <a target="_blank" href="https://www.mosip.io">www.mosip.io</a></p>
					<hr style="border-top: 1px solid #edeef0;"/>
				</div>
				<div style="font-size: 14px; margin-top: 1.5rem;">
					<div style="margin: auto; border-collapse: collapse; text-align: center;">
						<a target="_blank" href="https://www.linkedin.com/company/mosip-project/posts/?feedView=all">
							<img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/linkedin.png" alt="linkedin" style="width: 24px; height: 24px; padding: 0px 4px;"/>
						</a>
						<a target="_blank" href="https://www.youtube.com/@mosip16">
							<img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/youtube.png" alt="youtube" style="width: 24px; height: 24px; padding: 0px 4px;"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
