<!DOCTYPE html>
<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #475467; max-width: 600px; margin: 20px auto; background-image: url('https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/header_background.png'); border: 1px solid #e0e0e0; border-radius: 20px; padding: 0 2px 1rem 2px;" cellpadding="0" cellspacing="0" width="600">
      <div style="color: #ffffff; text-align: left; padding: 24px 36px;">
        <img style="height: 58px; width: 150px; vertical-align: middle; margin-right: 10px;" src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/new_Mosip_logo.png" alt="Logo" />
      </div>
      <div style="padding: 20px 36px; line-height: 1.5; background-color: #ffffff;">
        <div style="font-size: 14px;">
          <p><strong>प्रिय ${partnerId},</strong></p>
          <p>
            यह सूचित किया जाता है कि SBI जिसकी आईडी: <strong>${sbiId}</strong> और संस्करण : <strong>${sbiVersion}</strong> है, <strong>${expiryDateTime}</strong> UTC को समाप्त होने वाला है। निरंतर कार्यक्षमता और निर्बाध सेवाओं के लिए, कृपया समाप्ति तिथि से पहले नया SBI जोड़ें।
          </p>
          <div style="padding: 10px 20px; background-color: #FAFBFC; border-radius: 10px;">
            <p style="font-size: 16px; font-weight: bold;">SBI विवरण</p>
            <hr style="border-top: 1px solid #E5E5E5;" />
            <p style="padding: 5px 0px; font-weight: 600;">SBI आईडी<br /><span style="font-weight: 400;">${sbiId}</span></p>
            <p style="padding: 5px 0px; font-weight: 600;">SBI संस्करण<br /><span style="font-weight: 400;">${sbiVersion}</span></p>
            <p style="padding: 5px 0px; font-weight: 600;">SBI बाइनरी हैश<br /><span style="font-weight: 400;">${sbiBinaryHash}</span></p>
            <p style="padding: 5px 0px; font-weight: 600;">SBI निर्माण तिथि<br /><span style="font-weight: 400;">${sbiCreationDate}</span></p>
            <p style="padding: 5px 0px; font-weight: 600;">समाप्ति दिनांक और समय<br /><span style="font-weight: 400;">${expiryDateTime} UTC</span></p>
            <p style="padding: 5px 0px; font-weight: 600;">आवश्यक कार्रवाई<br /><span style="font-weight: 400;">'डिवाइस प्रदाता सेवाओं' में नया SBI बनाएं।</span></p>
          </div>
          <p>समाप्ति से पहले नया SBI न बनाने पर सेवा में व्यवधान आ सकता है।</p>
          <p>SBI बनाने के लिए कृपया निम्नलिखित चरणों का पालन करें:</p>
          <ol>
            <li>PMS पोर्टल पर अपने खाते में लॉगिन करें।</li>
            <li>पार्टनर डैशबोर्ड के तहत 'डिवाइस प्रदाता सेवाओं' पर जाएं।</li>
            <li>'SBI जोड़ें' बटन पर क्लिक करें।</li>
            <li>SBI विवरण भरें और सबमिट करें।</li>
            <li>SBI विवरण अब अनुमोदन के लिए पार्टनर एडमिन को भेजे जाएंगे।</li>
          </ol>
          <p>कृपया ध्यान दें कि समाप्ति दिनांक और समय UTC प्रारूप में प्रदान किया गया है, इसलिए नवीनीकरण की योजना बनाते समय समय क्षेत्र के अंतर का ध्यान रखें।</p>
          <p>इस मामले में आपकी त्वरित प्रतिक्रिया के लिए धन्यवाद।</p>
          <p>सादर,<br />MOSIP</p>
          <p style="padding: 6px 0px;">** यह एक स्वचालित ईमेल है। कृपया इस ईमेल का उत्तर न दें। **</p>
          <p>वेबसाइट: <a target="_blank" href="https://www.mosip.io">www.mosip.io</a></p>
          <hr style="border-top: 1px solid #edeef0;" />
        </div>
        <div style="font-size: 14px; margin-top: 1.5rem;">
          <div style="margin: auto; border-collapse: collapse; text-align: center;">
            <a target="_blank" href="https://www.linkedin.com/company/mosip-project/posts/?feedView=all">
              <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/linkedin.png" alt="linkedin" style="width: 24px; height: 24px; padding: 0px 4px;" />
            </a>
            <a target="_blank" href="https://www.youtube.com/@mosip16">
              <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/youtube.png" alt="youtube" style="width: 24px; height: 24px; padding: 0px 4px;" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
