<!DOCTYPE html>
<html lang="hi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
</head>

<body>
    <div style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #475467; max-width: 600px; margin: 20px auto; background-image: url('https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/header_background.png'); border: 1px solid #e0e0e0; border-radius: 20px; padding: 0 2px 1rem 2px;"
        cellpadding="0" cellspacing="0" width="600">
        <div style="color: #ffffff; text-align: left; padding: 24px 36px;">
            <img style=" height: 58px; width: 150px; vertical-align: middle; margin-right: 10px;"
                src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/new_Mosip_logo.png"
                alt="Logo" />
        </div>
        <div style="padding: 20px 36px; line-height: 1.5; background-color: #ffffff;">
            <div style="font-size: 14px;">
                <p><strong>प्रिय ${partnerId},</strong></p>
                <p>हम आपका ध्यान PMS पोर्टल पर विभिन्न भागीदारों द्वारा अपलोड किए गए पार्टनर सर्टिफिकेट की आगामी समाप्ति की ओर आकर्षित करना चाहते हैं। नीचे उन वस्तुओं का सारांश दिया गया है जिनकी समाप्ति अगले 7 दिनों में होने वाली है।</p>
                <div style="padding: 10px 20px; background-color: #FAFBFC; border-radius: 10px;">
                    <p style="font-size: 16px; font-weight: bold;">समाप्ति तिथि वाले आइटम: ${fromDate} से ${toDate} तक</p>
                    <hr style="border-top: 1px solid #E5E5E5;" />
                    #if($partnerIdList && $partnerIdList.size() > 0)
                        <p style="margin-bottom: 6px; font-weight: 600;">${partnerCertificateCount}&nbsp;निम्नलिखित भागीदार आईडी के लिए भागीदार प्रमाणपत्र समाप्त हो रहे हैं</p>
                        <ul style="padding-left: 20px; margin: 0;">
                            #foreach($id in $partnerIdList)
                                <li style="padding: 2px 0;">[$id]</li>
                            #end
                        </ul>
                    #end
                    <hr style="border: none; border-bottom: 1px solid #e4e7ec; margin: 24px 0;" />
                    <p style="padding: 5px 0px; font-weight: 600;">कार्रवाई आवश्यक है<br>
                        <span style="font-weight: 400;">निर्बाध सेवाएं सुनिश्चित करने के लिए, कृपया संबंधित साझेदार उपयोगकर्ताओं को अपने प्रमाणपत्रों को समाप्ति तिथि से पहले नवीनीकृत करने के लिए सूचित करें।</span>
                    </P>
                </div>

                <p>हम इस मामले पर आपके त्वरित ध्यान की सराहना करते हैं।</p>
                <p>हमारी सेवाएं चुनने के लिए धन्यवाद।</p>
                <p>साभार,<br>MOSIP</p>
                <hr style="border-top: 1px solid #edeef0;" />
                <p style="padding: 3px 0px;">** यह एक स्वतः जनरेट किया गया ईमेल है। कृपया इस ईमेल का उत्तर न दें। **</p>
                <p>
                    वेबसाइट:
                    <a href="http://www.mosip.io" style="color: #014daf; text-decoration: underline;">www.mosip.io</a>
                </p>
                <hr style="border-top: 1px solid #edeef0;" />
            </div>
            <div style="font-size: 14px; margin-top: 1.5rem;">
                <div style="margin: auto; border-collapse: collapse; text-align: center;">
                    <a target="_blank" href="https://www.linkedin.com/company/mosip-project/posts/?feedView=all">
                        <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/linkedin.png"
                            alt="linkedin" style="width: 24px; height: 24px; padding: 0px 4px;" />
                    </a>
                    <a target="_blank" href="https://www.youtube.com/@mosip16">
                        <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/youtube.png"
                            alt="youtube" style="width: 24px; height: 24px; padding: 0px 4px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>