#set($titleParts = [])

#if($partnerCertificateCount > 0)
  #set($void = $titleParts.add("கூட்டாளர் சான்றிதழ்கள்"))
#end
#if($ftmChipCertificateCount > 0)
  #set($void = $titleParts.add("FTM சிப் சான்றிதழ்கள்"))
#end
#if($sbiCount > 0)
  #set($void = $titleParts.add("SBI கள்"))
#end
#if($apiKeyCount > 0)
  #set($void = $titleParts.add("API விசைகள்"))
#end

#if(!$titleParts.isEmpty())
  #set($summary = "")
  #foreach($item in $titleParts)
    #set($summary = "$summary$item")
    #if($foreach.hasNext)
      #if($foreach.count == $titleParts.size() - 1)
        #set($summary = "$summary மற்றும் ")
      #else
        #set($summary = "$summary, ")
      #end
    #end
  #end
  வார அறிக்கை: விரைவில் காலாவதியாகும் $summary
#end