<!DOCTYPE html>
<html lang="kn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
</head>

<body>
    <div style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #475467; max-width: 600px; margin: 20px auto; background-image: url('https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/header_background.png'); border: 1px solid #e0e0e0; border-radius: 20px; padding: 0 2px 1rem 2px;"
        cellpadding="0" cellspacing="0" width="600">
        <div style="color: #ffffff; text-align: left; padding: 24px 36px;">
            <img style=" height: 58px; width: 150px; vertical-align: middle; margin-right: 10px;"
                src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/new_Mosip_logo.png"
                alt="Logo" />
        </div>
        <div style="padding: 20px 36px; line-height: 1.5; background-color: #ffffff;">
            <div style="font-size: 14px;">
                <p><strong>ಪ್ರಿಯ ${partnerId},</strong></p>
                <p>API ಕೀಗಳು, ಪಾಲುದಾರ ಪ್ರಮಾಣಪತ್ರಗಳು ಮತ್ತು ವಿವಿಧ ಪಾಲುದಾರರಿಂದ PMS ಪೋರ್ಟಲ್‌ನಲ್ಲಿ ಅಪ್‌ಲೋಡ್ ಮಾಡಿದ FTM ಚಿಪ್ ಪ್ರಮಾಣಪತ್ರಗಳ ಮುಂಬರುವ ಗಡಿವೇಳೆಯನ್ನು ನಿಮ್ಮ ಗಮನಕ್ಕೆ ತರಲು ನಾವು ಇಚ್ಛಿಸುತ್ತೇವೆ. ಮುಂದಿನ 7 ದಿನಗಳಲ್ಲಿ ಅವಧಿ ಮುಕ್ತಾಯಗೊಳ್ಳಲಿರುವ ಐಟಂಗಳ ಸಾರಾಂಶವನ್ನು ಕೆಳಗೆ ನೀಡಲಾಗಿದೆ.</p>
                <div style="padding: 10px 20px; background-color: #FAFBFC; border-radius: 10px;">
                    <p style="font-size: 16px; font-weight: bold;">ಅವಧಿ ಮುಗಿಯುತ್ತಿರುವ ವಸ್ತುಗಳು: ${fromDate} ರಿಂದ ${toDate} ವರೆಗೆ</p>
                    <hr style="border-top: 1px solid #E5E5E5;" />
                    #if($partnerIdList && $partnerIdList.size() > 0)
                        <p style="margin-bottom: 6px; font-weight: 600;">${partnerCertificateCount}&nbsp;ಕೆಳಗಿನ ಪಾಲುದಾರ ಐಡಿಗಳಿಗೆ ಅವಧಿ ಮುಗಿಯುತ್ತಿರುವ ಪಾಲುದಾರ ಪ್ರಮಾಣಪತ್ರಗಳು</p>
                        <ul style="padding-left: 20px; margin: 0;">
                            #foreach($id in $partnerIdList)
                                <li style="padding: 2px 0;">[$id]</li>
                            #end
                        </ul>
                    #end
                   #if($ftmIdList && $ftmIdList.size() > 0)
                       <hr style="border-top: 1px solid #E5E5E5; margin-top: 20px;" />
                       <p style="margin-bottom: 6px; font-weight: 600;">${ftmChipCertificateCount}&nbsp;FTM ಚಿಪ್ ಪ್ರಮಾಣಪತ್ರಗಳು ಈ ಕೆಳಗಿನ FTM ID ಗಳಿಗೆ ಅವಧಿ ಮುಕ್ತಾಯವಾಗುತ್ತಿದೆ</p>
                       <ul style="padding-left: 20px; margin: 0;">
                           #foreach($ftmId in $ftmIdList)
                               <li style="padding: 2px 0;">[$ftmId]</li>
                           #end
                       </ul>
                   #end
                   #if($apiKeyNameList && $apiKeyNameList.size() > 0)
                       <hr style="border-top: 1px solid #E5E5E5; margin-top: 20px;" />
                       <p style="margin-bottom: 6px; font-weight: 600;">${apiKeyCount}&nbsp;ಈ ಕೆಳಗಿನ ಹೆಸರುಗಳಿಗೆ API ಕೀಗಳು ಅವಧಿ ಮುಕ್ತಾಯವಾಗುತ್ತಿದೆ</p>
                       <ul style="padding-left: 20px; margin: 0;">
                           #foreach($apiKey in $apiKeyNameList)
                               <li style="padding: 2px 0;">[$apiKey]</li>
                           #end
                       </ul>
                   #end
                    <hr style="border: none; border-bottom: 1px solid #e4e7ec; margin: 24px 0;" />
                    <p style="padding: 5px 0px; font-weight: 600;">ಕ್ರಮ ಅಗತ್ಯವಿದೆ<br>
                        <span style="font-weight: 400;">ಅಡೆತಡೆಯಿಲ್ಲದ ಸೇವೆಗಳನ್ನು ಖಚಿತಪಡಿಸಿಕೊಳ್ಳಲು, ದಯವಿಟ್ಟು ಆಯಾ ಪಾಲುದಾರ ಬಳಕೆದಾರರಿಗೆ ಅವರ ಪ್ರಮಾಣಪತ್ರಗಳ ಮುಕ್ತಾಯ ದಿನಾಂಕದ ಮೊದಲು ನವೀಕರಿಸಲು ತಿಳಿಸಿ.</span>
                    </P>
                </div>

                <p>ಈ ವಿಷಯದ ಬಗ್ಗೆ ನಿಮ್ಮ ತ್ವರಿತ ಗಮನಕ್ಕೆ ನಾವು ಕೃತಜ್ಞರಾಗಿರುತ್ತೇವೆ.</p>
                <p>ನಮ್ಮ ಸೇವೆಗಳನ್ನು ಆಯ್ಕೆ ಮಾಡಿದ್ದಕ್ಕಾಗಿ ಧನ್ಯವಾದಗಳು.</p>
                <p>ಶುಭಾಶಯಗಳು,<br>MOSIP</p>
                <hr style="border-top: 1px solid #edeef0;" />
                <p style="padding: 3px 0px;">** ಇದು ಸ್ವಯಂ-ರಚಿತ ಇಮೇಲ್. ದಯವಿಟ್ಟು ಈ ಇಮೇಲ್‌ಗೆ ಪ್ರತ್ಯುತ್ತರಿಸಬೇಡಿ. **</p>
                <p>
					ಜಾಲತಾಣ:
                    <a href="http://www.mosip.io" style="color: #014daf; text-decoration: underline;">www.mosip.io</a>
                </p>
                <hr style="border-top: 1px solid #edeef0;" />
            </div>
            <div style="font-size: 14px; margin-top: 1.5rem;">
                <div style="margin: auto; border-collapse: collapse; text-align: center;">
                    <a target="_blank" href="https://www.linkedin.com/company/mosip-project/posts/?feedView=all">
                        <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/linkedin.png"
                            alt="linkedin" style="width: 24px; height: 24px; padding: 0px 4px;" />
                    </a>
                    <a target="_blank" href="https://www.youtube.com/@mosip16">
                        <img src="https://raw.githubusercontent.com/mosip/documentation/1.2.0/docs/_images/youtube.png"
                            alt="youtube" style="width: 24px; height: 24px; padding: 0px 4px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>