{
  "openapi": "3.0.1",
  "info": {
    "version": "1.0",
    "title": "Partner Management Services API documentation",
    "description": "Partner Management Services API documentation ",
    "license": {
      "url": "https://docs.mosip.io/platform/license",
      "name": "Mosip"
    }
  },
  "servers": [
    {
      "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
      "description": "Partner Management Service"
    }
  ],
  "paths": {
    "/securebiometricinterface": {
      "get": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "NEW: Get the list of all the SBI details created by Device Providers",
        "description": "This endpoint is for both regular users and the Partner Admin users.\r\n\r\nThis endpoint supports pagination, sorting, and filtering based on optional query parameters.\r\n\r\nIf the token used to access this endpoint, does not have the PARTNER_ADMIN role, then it will fetch all the SBI's created by all the Device Providers associated with the logged in user only.\r\n\r\nIf the token used to access this endpoint, has PARTNER_ADMIN role, then it will fetch all the SBI's created by all the Device Providers across all users.\r\n\r\nThis endpoint is designed to support the upcoming feature \"Multi Partner Type Support for a User\".\r\nWith this feature one PMS user account will be able to support multiple Partner Types.\r\nCurrently one PMS user account maps to one Partner Type and one Partner Id.  \r\n\r\nThis endpoint upgrades the earlier GET endpoint `/partners/securebiometricinterface/search` \r\nby adding new features like:\r\n1. Performance improvement\r\n2. Handling `deactivated` status\r\n3. Adding details of associated devices (`countOfAssociatedDevices, countOfApprovedDevices, countOfPendingDevices`)\r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER, PARTNER_ADMIN",
        "operationId": "secure-biometric-interface-get",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortFieldName",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response by the sortFieldName. Sorting parameters should be given along with pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response with this sort order. Default is asc order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page Number for the pagination. Starts with 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page Size for the pagination. Page Number and Page Size should be given together in the request.",
            "schema": {
              "type": "integer",
              "default": 8
            }
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given partnerId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given orgName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given status of the SBI. Allowed values are approved, rejected, pending_approval, deactivated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiExpiryStatus",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given sbiExpiryStatus. Allowed values are expired, valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiVersion",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given SBI version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given SBI id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id required to access this endpoint \r\n`mosip.pms.all.sbi.details.get`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "Date in ISO format indicating date time when response was sent",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "pageNo": {
                          "type": "integer",
                          "description": "Page Number of the data in the response"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page Size of the data in the response"
                        },
                        "totalResults": {
                          "type": "integer",
                          "description": "Total number of records across all the pages in the response"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "partnerId": {
                                "type": "string",
                                "description": "Unique identifier for the Partner"
                              },
                              "orgName": {
                                "type": "string",
                                "description": "Name of the Organisation"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "rejected",
                                  "pending_approval",
                                  "approved",
                                  "deactivated"
                                ],
                                "description": "Status of the SBI"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "Created date in ISO format"
                              },
                              "sbiId": {
                                "type": "string",
                                "description": "Unique identifier of the SBI"
                              },
                              "sbiVersion": {
                                "type": "string",
                                "description": "Version of the SBI"
                              },
                              "isActive": {
                                "type": "boolean",
                                "description": "Flag indicating if SBI is active or not"
                              },
                              "sbiCreatedDateTime": {
                                "type": "string",
                                "description": "SBI Created date in ISO format"
                              },
                              "sbiExpiryDateTime": {
                                "type": "string",
                                "description": "SBI Expiry date in ISO format"
                              },
                              "sbiExpiryStatus": {
                                "type": "boolean",
                                "description": "Flag indicating if SBI has expired or not"
                              },
                              "countOfAssociatedDevices": {
                                "type": "integer",
                                "description": "Count of all associated devices with this SBI"
                              },
                              "countOfApprovedDevices": {
                                "type": "integer",
                                "description": "Count of all approved devices with this SBI"
                              },
                              "countOfPendingDevices": {
                                "type": "integer",
                                "description": "Count of all pending for approval devices with this SBI"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Aray of error code and message indicating the error that has occured",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique code of the error indicating the error that has occured"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message indicating the error that has occured"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "post": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "EXISTING: Endpoint to save SecureBiometricInterface details",
        "description": "Saves SecureBiometricInterface details and return SBI id",
        "operationId": "SecureBiometricInterface",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperSecureBiometricInterfaceCreateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIdDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "patch": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "EXISTING: Service to approve/reject SecureBiometricInterface",
        "description": "Approve SecureBiometricInterface and returns success message",
        "operationId": "approveSecureBiometricInterface",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperSecureBiometricInterfaceStatusUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperString"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/devicedetail": {
      "get": {
        "tags": [
          "device-detail-controller"
        ],
        "summary": "NEW: Get the list of all the Devices created by all the Partners",
        "description": "This endpoint is for the Partner Admin users only.\r\n\r\nThis endpoint can be used to get the list of all the Devices created by all the Partners.\r\n\r\nThis endpoint upgrades the earlier GET endpoint `/devicedetail/search` by adding new features like:\r\n1. Performance improvement\r\n2. Handling deactivated status\r\n3. SBI id and SBI version\r\n\r\nThis endpoint should be configured for the Role: PARTNER_ADMIN",
        "operationId": "get-devicedetail",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortFieldName",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response by the sortFieldName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response with this sort order. Default is asc order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page Number for the pagination. Starts with 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page Size for the pagination. Default is 8.",
            "schema": {
              "type": "integer",
              "default": 8
            }
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given partnerId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given orgName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given status of the device. Allowed values as approved, rejected, pending_approval, deactivated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given deviceType.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceSubType",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given deviceSubType.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "make",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given make.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given model.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiVersion",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given SBI version.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given SBI ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given Device ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id required to access this endpoint `mosip.pms.get.all.device.details.get`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "Date in ISO format indicating date time when response was sent",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "pageNo": {
                          "type": "integer",
                          "description": "Page Number of the data in the response"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page Size of the data in the response"
                        },
                        "totalResults": {
                          "type": "integer",
                          "description": "Total number of records across all the pages in the response"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "partnerId": {
                                "type": "string",
                                "description": "Unique identifier for the Partner"
                              },
                              "orgName": {
                                "type": "string",
                                "description": "Name of the Organisation"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "rejected",
                                  "pending_approval",
                                  "approved",
                                  "deactivated"
                                ],
                                "description": "Status of the Device"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "Created date in ISO format"
                              },
                              "deviceId": {
                                "type": "string",
                                "description": "Unique identifier of the Device"
                              },
                              "make": {
                                "type": "string",
                                "description": "Make of the Device"
                              },
                              "model": {
                                "type": "string",
                                "description": "Model of the Device"
                              },
                              "deviceType": {
                                "type": "string",
                                "enum": [
                                  "Face",
                                  "Finger",
                                  "Iris"
                                ],
                                "description": "Type of the Device"
                              },
                              "deviceSubType": {
                                "type": "string",
                                "enum": [
                                  "Full face",
                                  "Single",
                                  "Slap",
                                  "Touchless",
                                  "Double"
                                ],
                                "description": "Sub Type of the Device"
                              },
                              "sbiId": {
                                "$ref": "#/components/schemas/sbiId",
                                "description": "Unique identifier of the associated SBI"
                              },
                              "sbiVersion": {
                                "$ref": "#/components/schemas/sbiVersion",
                                "description": "Version of the associated SBI"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Aray of error code and message indicating the error that has occured",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique code of the error indicating the error that has occured"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message indicating the error that has occured"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/devicedetail/deviceType/filtervalues": {
      "post": {
        "tags": [
          "device-detail-controller"
        ],
        "summary": "EXISTING: Endpoint to filter DeviceTypes",
        "description": "Endpoint to filter DeviceTypes",
        "operationId": "filterDeviceType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperDeviceFilterValueDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperFilterResponseCodeDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/devicedetail/deviceSubType/filtervalues": {
      "post": {
        "tags": [
          "device-detail-controller"
        ],
        "summary": "EXISTING: Endpoint to filter DeviceSubTypes",
        "description": "Endpoint to filter DeviceSubTypes",
        "operationId": "filterDeviceSubType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperDeviceFilterValueDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperFilterResponseCodeDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners": {
      "post": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: partner self registration",
        "description": "Saves partner details",
        "operationId": "partnerSelfRegistration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPartnerResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/{partnerId}/policy/{policyId}/apiKey/status": {
      "patch": {
        "tags": [
          "partner-management-controller"
        ],
        "summary": "EXISTING: Endpoint to activate/de-activate partner api key",
        "description": "Endpoint to activate/de-activate partner api key",
        "operationId": "activateDeactivatePartnerAPIKey",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperAPIkeyStatusUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperString"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/{partnerId}/certificate-data": {
      "get": {
        "tags": [
          "partner-service-controller",
          "NEW"
        ],
        "summary": "NEW: Get both the certificates, partner uploaded CA signed certificate and the PMS generated MOSIP signed certificate",
        "description": "This endpoint will fetch  both the certificates, CA signed certifacte uploaded by the partner \r\nand the MOSIP signed certificate, which is generated by PMS after the CA signed certificate \r\nis uploaded by the partner.\r\n\r\nThis endpoint will use Kernel Key Manager service endpoint `getPartnerSignedCertificate/{$partnerCertId}` \r\nto get the certificates.\r\n\r\nThis endpoint should be configured for the all the Roles: AUTH_PARTNER,ABIS_PARTNER,SDK_PARTNER,\r\nDEVICE_PROVIDER,FTM_PROVIDER,CREDENTIAL_PARTNER,PARTNER_ADMIN,ONLINE_VERIFICATION_PARTNER",
        "operationId": "certificate-data",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperOriginalCertDownloadResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/{partnerId}/policy/map": {
      "post": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: To request for policy mapping",
        "description": "To request for policy mapping",
        "operationId": "mapPolicyToPartner",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperPartnerPolicyMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPartnerPolicyMappingResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/partnertype/search": {
      "post": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: Endpoint to search partner types",
        "description": "Endpoint to search partner types",
        "operationId": "searchPartnerType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperSearchDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPageResponseDtoPartnerType"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/{partnerId}/generate/apikey": {
      "patch": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: To generate apiKeys for approved policies",
        "description": "To generate apiKeys for approved policies",
        "operationId": "generateAPIKey",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperAPIKeyGenerateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperAPIKeyGenerateResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/policy/{mappingkey}": {
      "put": {
        "tags": [
          "partner-management-controller"
        ],
        "summary": "EXISTING: Endpoint to approve/reject partner policy mapping",
        "description": "Endpoint to approve/reject partner policy mapping",
        "operationId": "approveRejectPolicyMappings",
        "parameters": [
          {
            "name": "mappingkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperStatusRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperString"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/securebiometricinterface/{sbiId}/devices": {
      "get": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "NEW: Get list of all the devices associated with the given SBI Id",
        "description": "This endpoint will fetch the list of all the devices associated with the given SBI Id.\r\nThis endpoint will validate that the given SBI id belongs to the logged in user or not.\r\n\r\nIf there are no devices associated with the given SBI Id, \r\nthen it will return an empty array as the response along with the id, \r\nversion, responsetime and metadata (optional) attributes.\r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER,PARTNER_ADMIN",
        "operationId": "sbi-devices",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiId",
            "in": "path",
            "description": "Unique identifier of the SBI",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier required to access this endpoint `mosip.pms.sbi.devices.get`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of the endpoint `1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "Date in ISO format indicating when response was sent"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about response"
                    },
                    "response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the Device"
                          },
                          "deviceTypeCode": {
                            "type": "string",
                            "description": "Type of the Device"
                          },
                          "deviceSubTypeCode": {
                            "type": "string",
                            "description": "Subtype of the Device"
                          },
                          "deviceProviderId": {
                            "type": "string",
                            "description": "Unique identifier of the Device Provider / Partner"
                          },
                          "make": {
                            "type": "string",
                            "description": "Make details of the Device"
                          },
                          "model": {
                            "type": "string",
                            "description": "Model details of the Device"
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Flag indicating if Device is active or noy"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending_approval",
                              "approved",
                              "rejected"
                            ],
                            "description": "Status of the Device"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "description": "Date in ISO format indicating when Device was created by the Partner"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Optional array of errors encountered while processing the request",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique identifier of the error"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message with details about the error"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "id": "string",
                      "version": "string",
                      "responseTime": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "response": [
                        {
                          "id": "string",
                          "deviceTypeCode": "string",
                          "deviceSubTypeCode": "string",
                          "deviceProviderId": "string",
                          "make": "string",
                          "model": "string",
                          "isActive": true,
                          "status": "pending_approval",
                          "createdDateTime": "string"
                        }
                      ],
                      "errors": [
                        {
                          "errorCode": "string",
                          "message": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "post": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "NEW: Add a new device and also add an inactive mapping to SBI",
        "description": "This endpoint adds a new device and also an in active mapping between an SBI with status as \"approved\" \r\nand Device with status as \"pending_approval\" .\r\n\r\nAs per existing tables `pms.device_detail`, `pms.device_detail_sbi` and `pms.secure_biometric_interface` \r\nthere is no direct parent child relation ship between a device and SBI. But as per new UI design we need to incorporate the same. \r\nTo do so, whenever a device is created, the UI will call this endpoint which will first add a new the device in DB and also add an in active mapping between device and SBI.\r\nLater when Partner Admin will approve the Device, the mapping will also be activated.\r\n\r\nAs per new UI design. a device should not exist without being associated with a SBI.\r\nTo support this, whenever any error occurs while adding the inactive mapping between a device and SBI, \r\ninstead of leaving the orphaned device in DB, this endpoint will delete it.\r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER,PARTNER_ADMIN\r\n",
        "operationId": "post-device-to-sbi",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiId",
            "in": "path",
            "description": "Unique identifier of SBI",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperSbiAndDeviceMappingRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "`mosip.pms.add.device.to.sbi.id.post`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "The date time of the response in ISO format",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "response": {
                      "type": "boolean",
                      "description": "The value true indicates success while false indicates failure."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "version"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "string",
                      "version": "string",
                      "responsetime": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "response": true,
                      "errors": [
                        {
                          "errorCode": "string",
                          "message": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/partner-certificates-details": {
      "get": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "NEW: Get details all the partner certificates",
        "description": "This endpoint will fetch the list of all the partner certificates uploaded \r\nby all the partner Id's associated with the logged in user\r\n\r\nThis endpoint is designed to support the upcoming feature \"Multi Partner Type Support for a User\".\r\nWith this feature one PMS user account will be able to support multiple Partner Types.\r\nCurrently one PMS user account maps to one Partner Type and one Partner Id.  \r\n\r\nIf there are no partner certificates associated with any of the partner Ids' associated with the logged in user, \r\nthen it will return an array with all the associated partner ids and empty values for certifcate related attributes as the response along with the id, version, responsetime \r\nand metadata (optional) attributes.\r\n\r\nThis endpoint will be used in the page which will show all the certificates uploaded by all the partners\r\nassociated with the logged in user.\r\n\r\nThis endpoint should be configured for the Roles: AUTH_PARTNER,ABIS_PARTNER,SDK_PARTNER,DEVICE_PROVIDER,\r\nFTM_PROVIDER,CREDENTIAL_PARTNER,PARTNER_ADMIN,ONLINE_VERIFICATION_PARTNER\r\n",
        "operationId": "partner-certificates",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListCertificateDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/v3": {
      "get": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "NEW: Get list of all the Partner Id's associated with logged in User and filtered by Query Parameters",
        "description": "This endpoint will fetch list of all the partners based on the query parameters.\r\n\r\nThis endpoint is designed to support the upcoming feature \"Multi Partner Type Support for a User\".\r\nWith this feature one PMS user account will be able to support multiple Partner Types.\r\nCurrently one PMS user account maps to one Partner Type and one Partner Id.  \r\n\r\nThe query parameter `status` is mandatory. The endpoint will return all \r\nPartner Id's with corresponding status value and which are mapped \r\nto the logged in user. If there are no Partner Id's with corresponding status \r\nand which are mapped to the logged in user, then it will return an empty array as the response.\r\nA Partner is auto approved by the PMS system, after the partner uploads\r\na valid CA signed certificate for the organisation.\r\n\r\n\r\nThe query parameter `policyGroupAvailable` is optional. If it is true, then this endpoint will return all \r\nPartner Id's which have a Policy Group associated with them and which are mapped \r\nto the logged in user. If there are no Partner Id's which have a Policy Group associated with them \r\nand which are mapped to the logged in user, then it will return an empty array as the response.\r\n\r\nThe query parameter `partnerType` is optional. If it is any of allowed partner types, then this endpoint will return all \r\nPartner Id's which have same partner type and which are mapped \r\nto the logged in user. If there are no Partner Id's which have same partner type\r\nand which are mapped to the logged in user, then it will return an empty array as the response.\r\n\r\nAll these 3 query parameters will work together.\r\n\r\nExample 1: `/partners/v4?status=approved&partnerType=Device_Provider&policyGroupAvailable=false`\r\nthis will return list of all Device Provider ids which are in approved status and are associated \r\nwith logged in user and but the policy group attributes in the response will be null in this case.\r\n\r\nExample 2: `/partners/v4?status=approved&partnerType=Device_Provider&policyGroupAvailable=true`\r\nthis will return an empty list since policy group is not available for Device Providers\r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER,FTM_PROVIDER,PARTNER_ADMIN,AUTH_PARTNER,ABIS_PARTNER,\r\nSDK_PARTNER,CREDENTIAL_PARTNER,PARTNER_ADMIN,ONLINE_VERIFICATION_PARTNER\r\n",
        "operationId": "partner-ids-v4",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Mandatory query param which can be used to filter results by the partner's approval status. Expected values are InProgress, approved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyGroupAvailable",
            "in": "query",
            "description": "Optional query param which can be used to filter results by the policyGroupAvailable flag. It can be true or false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "partnerType",
            "in": "query",
            "description": "Optional query param which can be used to filter results by the partner type. Expected values are Auth_Partner, Device_Provider, FTM_Provider etc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListPolicyGroupDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/{partnerId}/policies": {
      "get": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "NEW: Get all the approved policies associated with the Partner Id",
        "description": "This endpoint can be used to get all approved policies associated with the Partner Id.\r\n\r\nThis endpoint will filter the partner policy requests for the given approval status.\r\nand send the list of associated policies.\r\n\r\nIf there are no  partner policy requests which are approved, \r\nthen it will return an empty array as the response along with the id, version, \r\nresponsetime and metadata (optional) attributes.\r\n\r\nThis endpoint should be configured for the Roles: AUTH_PARTNER,PARTNER_ADMIN. \r\nIt can be configured for other partner types as well which have a policy group associated with them.\r\n",
        "operationId": "auth-partners-policies",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnerId",
            "in": "path",
            "description": "Unique identifier of the partner",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListApprovedPolicyDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/securebiometricinterface/{sbiId}": {
      "patch": {
        "tags": [
          "secure-biometric-interface-controller"
        ],
        "summary": "NEW: Deactivate SBI along with associated devices",
        "description": "This endpoint will deactivate SBI based on the SBI Id sent in the Path and status sent in the Request Body. \r\n\r\nThis endpoint will check if the SBI Id belongs to the logged in user or not.\r\n\r\nThis endpoint will check if the SBI is has status as \"approved\" and value for \"is_active\" column as \"true\". \r\n\r\nFor all other status values, this endpoint will throw an error. \r\n\r\nOn deactivation the corresponding record in DB, will have status as \"approved\" and \r\nvalue for \"is_active\" column will be \"false\". \r\n\r\nThis endpoint will also deactivate all the associated devices by changing their status as below.\r\n1. The associated device with status status as \"approved\" and value for \"is_active\" column as \"true\" will be changed to status as \"approved\" and value for \"is_active\" column will be \"false\".\r\n2. The associated device with status status as \"pending_approval\" will be changed to status as \"rejected\".\r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER,PARTNER_ADMIN",
        "operationId": "deactivate-sbi",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sbiId",
            "in": "path",
            "description": "Unique identifier of the SBI",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperDeactivateSbiRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperSbiDetailsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/ftpchipdetail": {
      "get": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "NEW: Get the list of all the FTM Chip details",
        "description": "This endpoint will fetch the list of all the FTM Chip details created \r\nby all the partner Id's associated with the logged in user.\r\n\r\nThis endpoint is designed to support the upcoming feature \"Multi Partner Type Support for a User\".\r\nWith this feature one PMS user account will be able to support multiple Partner Types.\r\nCurrently one PMS user account maps to one Partner Type and one Partner Id.  \r\n\r\nIf there are no FTM Chip details associated with any of the partner Ids' associated with the logged in user, \r\nthen it will return an empty array as the response along with the id, version, responsetime \r\nand metadata (optional) attributes.\r\n\r\nThis endpoint should be configured for the Roles: FTM_PROVIDER,PARTNER_ADMIN\r\n\r\n",
        "operationId": "ftm-chip-details",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListFtmProviderDetailsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "post": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "EXISTING: Endpoint to save ftpChipDetail",
        "description": "Saves ftpChipDetail and return ftpChipDetail id",
        "operationId": "createDeviceDetail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperFtpChipDetailDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIdDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "patch": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "EXISTING: Endpoint to approve/reject ftp chip detail",
        "description": "Approve ftp chip detail and returns success message. This endpoint is for Partner Admin.",
        "operationId": "approveDeviceDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperFtpChipDetailStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperString"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/ftpchipdetail/{ftmId}/certificate-data": {
      "get": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "NEW: Get both the FTM chip certificates",
        "description": "This endpoint will fetch both the CA signed certifacte uploaded by the FTM Chip Provider \r\nand the MOSIP signed certificate, which is generated by PMS after the CA signed certificate \r\nis uploaded by the FTM Chip Provider.\r\n\r\n\r\nThis endpoint will use Kernel Key Manager service endpoint `getPartnerSignedCertificate/{$partnerCertId}` \r\nto get the certificates.\r\n\r\nThis endpoint should be configured for the all the roles: FTM_PROVIDER,PARTNER_ADMIN",
        "operationId": "ftm-certificate-data",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ftmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id that is required to access this endpoint.\r\n`mosip.pms.original.ftm.certificate.get`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "The date time of the response in ISO format"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "caSignedCertificateData": {
                          "type": "string",
                          "description": "The original CA signed certificate uploaded by the partner"
                        },
                        "isCaSignedCertificateExpired": {
                          "type": "boolean",
                          "description": "Flag indicating if CA signed certificate has expired or not"
                        },
                        "mosipSignedCertificateData": {
                          "type": "string",
                          "description": "The MOSIP signed certificate generated by PMS "
                        },
                        "isMosipSignedCertificateExpired": {
                          "type": "boolean",
                          "description": "Flag indicating if MOSIP signed certificate has expired or not"
                        },
                        "caSignedCertExpiryDateTime": {
                          "type": "string",
                          "description": "Date time in ISO format indicating when CA signed FTM certificate will expire"
                        },
                        "mosipSignedCertExpiryDateTime": {
                          "type": "string",
                          "description": "Date time in ISO format indicating when MOSIP signed FTM certificate will expire"
                        },
                        "caSignedCertUploadDateTime": {
                          "type": "string",
                          "description": "Date time in ISO format indicating when CA signed FTM certificate was uploaded"
                        },
                        "mosipSignedCertUploadDateTime": {
                          "type": "string",
                          "description": "Date time in ISO format indicating when MOSIP signed FTM certificate was uploaded"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Aray of error code and message indicating the error that has occured",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique code of the error indicating the error that has occured"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message indicating the error that has occured"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "version",
                    "responseTime",
                    "response"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "string",
                      "version": "string",
                      "responseTime": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "response": {
                        "caSignedCertificateData": "string",
                        "isCaSignedCertificateExpired": true,
                        "mosipSignedCertificateData": "string",
                        "isMosipSignedCertificateExpired": true
                      },
                      "errors": [
                        {
                          "errorCode": "string",
                          "message": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/ftpchipdetail/{ftmId}": {
      "patch": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "NEW: Deactivate the FTM chip details",
        "description": "This endpoint will deactivate FTM chip details based on the FTM chip details Id  sent in the Path and status sent in the Request Body.\r\n\r\nThis endpoint will check if the FTM chip details Id belongs to the logged in user or not.\r\n\r\nThis endpoint will check if the FTM chip details has status as \"approved\" and value for \"is_active\" column as \"true\". \r\n\r\nFor all other status values, this endpoint will throw an error. \r\n\r\nThis endpoint should be configured for the Roles: FTM_PROVIDER,PARTNER_ADMIN",
        "operationId": "deactivate-ftm",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ftmId",
            "in": "path",
            "description": "Unique identifier of the FTM",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier required to call this endpoint. \r\n`mosip.pms.deactivate.ftm.patch`"
                  },
                  "version": {
                    "type": "string",
                    "description": "Version of this endpoint. \r\n`1.0`"
                  },
                  "requestTime": {
                    "type": "string",
                    "description": "Date time in ISO format, when request is being sent."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional metadata about the request"
                  },
                  "request": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "Activate",
                          "De-Activate"
                        ],
                        "description": "Status to Activate or Deactivate the FTM"
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "version",
                  "requestTime",
                  "request"
                ],
                "x-examples": {
                  "Example 1": {
                    "id": "string",
                    "version": "string",
                    "requestTime": "2019-08-24T14:15:22Z",
                    "metadata": {},
                    "request": {
                      "deviceId": "device789"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier required to call this endpoint. \r\n`mosip.pms.deactivate.ftm.patch`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "Date time in ISO format, when response is being sent."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending_cert_upload",
                            "pending_approval",
                            "approved",
                            "rejected"
                          ],
                          "description": "Status of the FTM Chip details. "
                        },
                        "isActive": {
                          "type": "boolean",
                          "description": "True indicates that the FTM Chip is active."
                        },
                        "ftmId": {
                          "type": "string",
                          "description": "Unique identifier of FTM Chip Details"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Aray of error code and message indicating the error that has occured",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique code of the error indicating the error that has occured"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message indicating the error that has occured"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "version",
                    "responseTime"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "string",
                      "version": "string",
                      "responseTime": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "response": {
                        "deviceId": "string",
                        "status": "pending_approval",
                        "isActive": true
                      },
                      "errors": [
                        {
                          "errorCode": "string",
                          "message": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/ftpchipdetail/uploadcertificate": {
      "post": {
        "tags": [
          "ftp-chip-detail-controller"
        ],
        "summary": "EXISTING: Endpoint to upload certificate of ftp chip",
        "description": "uploads the ftp chip certificate and returns success message",
        "operationId": "uploadPartnerCertificate_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperFtpChipCertificateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperFtpCertificateResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/devicedetail/{deviceId}": {
      "patch": {
        "tags": [
          "device-detail-controller"
        ],
        "summary": "NEW: Deactivate the Device details",
        "description": "This endpoint will deactivate Device based on the Device Id  sent in the Path and status sent in the Request Body. \r\n\r\nThis endpoint will check if the Device Id belongs to the logged in user or not.\r\n\r\nThis endpoint will check if the Device is has status as \"approved\" and value for \"is_active\" column as \"true\". \r\n\r\nFor all other status values, this endpoint will throw an error. \r\n\r\nOn deactivation the corresponding record in DB, will have status as \"approved\" and \r\nvalue for \"is_active\" column will be \"false\". \r\n\r\nThis endpoint should be configured for the Roles: DEVICE_PROVIDER,PARTNER_ADMIN",
        "operationId": "deactivate-device",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceId",
            "in": "path",
            "description": "Unique identifier of the Device",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperDeactivateDeviceRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDeviceDetailResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/system-config": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "NEW: Get configurations for the PMS system",
        "description": "This endpoint will fetch the configurations for the PMS and send these to UI.\r\n\r\nNo roles are required for this endpoint",
        "operationId": "system-config",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMapStringString"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/users/user-consent": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "NEW: Get the user consent status",
        "description": "This endpoint will fetch the user's consent from the database. \r\n\r\nThis consent is related to the data that PMS portal captures from the partner.\r\nThe consent will be asked only once after the newly registered user logs in for the first time into PMS.\r\nThereafter the consent will not be asked if it has been given previously.\r\n\r\nThis endpoint should be configured for all the Roles: AUTH_PARTNER,ABIS_PARTNER,SDK_PARTNER,\r\nDEVICE_PROVIDER,FTM_PROVIDER,CREDENTIAL_PARTNER,PARTNER_ADMIN,ONLINE_VERIFICATION_PARTNER\r\n\r\n",
        "operationId": "get-user-consent",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserDetailsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "NEW: Save the user consent",
        "description": "This endpoint will save the user's consent in the database. \r\nThis consent is related to the data that PMS portal captures from the partner.\r\nThe consent will be asked only once after the newly registered user logs in for the first time into PMS.\r\nThereafter the consent will not be asked if it has been given previously.\r\n\r\nThis endpoint should be configured for all the Roles: AUTH_PARTNER,ABIS_PARTNER,SDK_PARTNER,\r\nDEVICE_PROVIDER,FTM_PROVIDER,CREDENTIAL_PARTNER,PARTNER_ADMIN,ONLINE_VERIFICATION_PARTNER",
        "operationId": "post-user-consent",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id that is required to access this endpoint.\r\n`mosip.pms.user.consent.post`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "The date time of the response in ISO format"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "description": "Unique identifier of the logged in user"
                        },
                        "consentGiven": {
                          "type": "boolean",
                          "description": "Flag indicating if the user has given the consent to PMS or not"
                        },
                        "consentGivenDateTime": {
                          "type": "string",
                          "description": "Date time in ISO format indicating when consent was given",
                          "format": "date-time"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Optional array of error codes and messages",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Unique identifier of the error that occured while processing the request"
                          },
                          "message": {
                            "type": "string",
                            "description": "Message with details about the error that occured while processing the request"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "version",
                    "responseTime"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "id": "string",
                      "version": "string",
                      "responseTime": "2019-08-24T14:15:22Z",
                      "metadata": {},
                      "response": {
                        "userId": "string",
                        "consentGiven": true,
                        "consentGivenDtimes": "string"
                      },
                      "errors": [
                        {
                          "errorCode": "string",
                          "message": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/email/verify": {
      "put": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: To verify partner's email",
        "description": "Endpoint to verify partner email",
        "operationId": "isEmailExists",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperEmailVerificationRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperEmailVerificationResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/certificate/ca/upload": {
      "post": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: Endpoint to upload CA / Intermediate CA certificate",
        "description": "Endpoint to upload  CA / Intermediate CA certificate. This endpoint is for Partner Admin. ",
        "operationId": "uploadCACertificate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperCACertificateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperCACertificateResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/partners/certificate/upload": {
      "post": {
        "tags": [
          "partner-service-controller"
        ],
        "summary": "EXISTING: Endpoint to upload partner certificate",
        "description": "Endpoint to upload partner certificate",
        "operationId": "uploadPartnerCertificate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperPartnerCertificateUploadRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPartnerCertificateResponseDto"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      }
    },
    "/oauth/client": {
      "post": {
        "tags": [
          "client-management-controller"
        ],
        "summary": "EXISTING: Create a new OAuth Client",
        "operationId": "createOAUTHClient",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperClientDetailCreateRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperClientDetailResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-internal.dev1.mosip.net/v1/partnermanager",
            "description": "Partner Management Service"
          }
        ]
      },
      "get": {
        "tags": [
          "client-management-controller"
        ],
        "summary": "NEW: Endpoint to get the list of all the OAuth clients created by the Auth Partners",
        "description": "This endpoint is for both the regular Auth Partner user and Partner Admin user.\r\n\r\nOAuth client can be used by the partner, to faciltate use of Esignet system of Mosip.\r\n\r\nThis endpoint supports pagination, sorting, and filtering based on optional query parameters. \r\n\r\nIf the token used to access this endpoint, does not have the PARTNER_ADMIN role, \r\nthen it will fetch all the OAuth Clients created by all the Auth Partners, associated with the logged in user only.\r\n\r\nIf the token used to access this endpoint, has PARTNER_ADMIN role, \r\nthen it will fetch all the OAuth Clients created by all the Auth Partners across all users.\r\n\r\nAn Auth Partner is auto approved by the PMS system, after the partner uploads a valid CA signed certificate for the organisation.\r\n\r\nA Policy is approved by Partner Admin. Once a Policy is approved multiple OAuth clients can be created on it. By default, this OAuth client is in Active status.\r\n\r\nThis endpoint is designed to support the upcoming feature \"Multi Partner Type Support for a User\". With this feature one PMS user account will be able to support multiple Partner Types. Currently one PMS user account maps to one Partner Type and one Partner Id.\r\n\r\nIf there are no OAuth cliens available, then it will return an empty array as the response along with the id, version, responsetime and metadata (optional) attributes.\r\n\r\nThis endpoint should be configured for the Roles: AUTH_PARTNER,PARTNER_ADMIN",
        "operationId": "get-all-oauth-clients",
        "parameters": [
          {
            "name": "Cookie",
            "in": "header",
            "description": "Authorization={jwt_token}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortFieldName",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response by the sortFieldName. Both sorting and pagination request parameters should be given together.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "Optional request parameter. Can be used to sort the response with this sort order. Default is asc order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page Number for the pagination. Starts with 0.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page Size for the pagination. Both pageNo and pageSize should be given in the request together. ",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given partnerId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given orgName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyGroupName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given policyGroupName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given policyName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientName",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given clientName.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional request parameter. Can be used to filter the response by the given status of OAuth client. Allowed values as ACTIVE or INACTIVE.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id required to access this endpoint `mosip.pms.oauth.partners.clients.get`"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of this endpoint. \r\n`1.0`"
                    },
                    "responseTime": {
                      "type": "string",
                      "description": "Date in ISO format indicating date time when response was sent",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Optional metadata about the response"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "pageNo": {
                          "type": "integer",
                          "description": "Page Number of the data in the response"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page Size of the data in the response"
                        },
                        "totalResults": {
                          "type": "integer",
                          "description": "Total number of records across all the pages in the response"
                        },
                        "data": {
                          "type": "array",
                          "items": {
[...]
